/* Write your CSS here */
* {
  font-family: 'roboto';
}
.login-head {
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
}
.login-btn {
  color: #303150;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 12px;
}
